#!/usr/bin/env python
PACKAGE = "vision_object_tracking"

from dynamic_reconfigure.parameter_generator_catkin import *

generator = ParameterGenerator()

generator.add("h_min", int_t, 0, "Hue min", 0, 0, 179)
generator.add("s_min", int_t, 0, "Saturation min", 120, 0, 255)
generator.add("v_min", int_t, 0, "Value min", 70, 0, 255)

generator.add("h_max", int_t, 0, "Hue max", 10, 0, 179)
generator.add("s_max", int_t, 0, "Saturation max", 255, 0, 255)
generator.add("v_max", int_t, 0, "Value max", 255, 0, 255)

generator.add("visualize", bool_t, 0, "Show OpenCV window", True)
generator.add("area_threshold", int_t, 0, "Min contour area", 500, 0, 100000)
generator.add("publish_mask", bool_t, 0, "Publish binary mask image", False)
generator.add("mask_topic", str_t, 0, "Mask topic name", "/vision/mask")

exit(generator.generate(PACKAGE))
